/* General Properties */

@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: 'DotGothic16', sans-serif;
    color: yellow;
    background-color: rgb(13, 13, 50);
    min-height: 100vh;
}

/* Header */

header {
    background-color: rgb(2, 2, 36);
}

header h1 {
    color: yellow;
    text-align: center;
    padding: 32px 0px;
    margin: 0px;
    font-family: 'DotGothic16', sans-serif;
}

/* Main */

main {
    flex: 1;
}

main > h2, #result {
    text-align: center;
}

.scores {
    text-align: center;
}

.visual-selection {
    display: flex;
    gap: 32px;
    justify-content: center;
    margin-bottom: 18px;
}

.visual-selection img {
    height: auto;
    max-width: 128px;
}

.visual-selection h2{
    text-align: center;
}

.visual-you, .visual-computer {
    padding: 8px 32px;
    border: 8px solid rgb(2, 2, 36);
    border-radius: 10%;
}

.user-choices {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.user-choices button {
    background-color: rgb(13, 13, 50);
    cursor: pointer;
    border: 6px solid rgb(2, 2, 36);
    border-radius: 10%;
}

.user-choices button:hover {
    background-color: yellow;
}

.user-choices h2 {
    font-family: 'DotGothic16', sans-serif;
}

.user-choices button h2 {
    color: yellow;
}

.user-choices button:hover h2 {
    color: rgb(2, 2, 36);
}

.user-choices button img {
    height: auto;
    max-width: 128px;
}

.restart-container {
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    justify-content: center;
}

#restart {
    font-family: 'DotGothic16', sans-serif;
    cursor: pointer;
    background-color: rgb(13, 13, 50);
    color: yellow;
    font-size: 20px;
    padding: 8px 16px;
    border: 5px solid rgb(2, 2, 36);
    border-radius: 10%;
}

#restart:hover {
    transform: scale(1.1);
    border-color: yellow;
    box-shadow: 0 0 1rem #ffc600;
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(2, 2, 36);
}

footer p {
    font-size: 20px;
    color: yellow;
}

@media only screen and (max-width: 500px) {
    .visual-selection img {
        height: auto;
        max-width: 72px;
    }
    .user-choices button img {
        height: auto;
        max-width: 72px;
    }   
}